@using prjMVCdemo.Models
@Model List<CCustomer>
@{
    ViewBag.Title = "List";
}

<h2>客戶資料一覽表</h2>
    <div>
        <p>
            <a href="~/Customer/Create">新增客戶</a>
        </p>
    </div>

<table border="1">
    <tr>
        <td>序號</td>
        <td>姓名</td>
        <td>電話</td>
        <td>電子郵件</td>
        <td>地址</td>
        <td>密碼</td>
        <td>編輯</td>
        <td>刪除</td>
    </tr>
    @{ 
        int count = 0;
        foreach(CCustomer t in Model)
        {
            count++;
        <tr>
            <td>@count</td>
            <td>@t.fName</td>
            <td>@t.fPhone</td>
            <td>@t.fEmail</td>
            <td>@t.fAddress</td>
            <td>@t.fPassword</td>
            <td>@Html.ActionLink("編輯", "Edit", "Customer", new { id = t.fid }, null)</td>
            <td>@Html.ActionLink("刪除", "Delete", "Customer", new { id = t.fid }, new { onclick = "return confirm('確定要刪除嗎?')" })</td>
        </tr>

        }
    }

</table>
