@model IEnumerable<prjMVCdemo.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>購物車</h2>
<p>
    @Html.ActionLink("檢視購物車", "CartView")
</p>
<table class="table">
    <tr>
        <th>
            序號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

    @{int count = 0;

        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    <img src="~/img/@item.fImagePath" width="200" height="180" />
                    <br />
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fQty)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fPrice)
                </td>
                <td>
                    @Html.ActionLink("加入購物車", "AddToCart","Shopping", new { id=item.fid  }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("加入 Session", "AddToSession", new { id = item.fid }, new { @class = "btn btn-success" }) |
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    }
</table>
